<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="x5-fullscreen" content="true" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        font-family: Roboto, "Droid Sans", "Droid Sans Fallback", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      }

      h1 {
        text-align: center;
      }

      h3 {
        margin: 0.8em 0 0.6em;
      }

      li {
        text-decoration: none;
        color: #939393;
      }

      ul {
        padding-left: 1.8em;
      }

      li {
        margin: 0.6em 0;
      }

      li:hover > a:link,
      li:hover > a:visited,
      li:hover > a:hover,
      li:hover > a:active,
      li:active > a:link,
      li:active > a:visited,
      li:active > a:hover,
      li:active > a:active {
        color: #00adff;
      }

      a:link,
      a:visited,
      a:active {
        color: #4c9afa;
        text-decoration: underline;
      }

      a:hover {
        color: #000 !important;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <ul>
      <% htmlWebpackPlugin.options.entrylinks.forEach(function(link) { %>
        <li><a href="./<%= link %>"><%= link %></a></li>
      <% }); %>
    </ul>
  </body>
</html>
